@media only screen and (min-width: 37.5em) {


    h2 {
        width: auto;
    }

    nav button {
        display: none;
    }


    section.forecast {
        display: block;
    }

    #navigation {
        display: flex;
        justify-content: space-around;

    }

    nav {
        padding: 1em;
    }
    nav ul a {
        text-decoration: none;
        color: black;
    }

    .daylight {
        width: 50%;
        height: 50%;
    }

}
