/* large.css */

@media only screen and (min-width: 700px) {
    .header {
        flex-direction: row;
    }
    .logo {
        margin-bottom: 0;
    }
    .site-nav {
        margin-left: auto;
    }


    #accordion3 {
        text-align: center;

        margin-left: 10rem;
        margin-right: 10rem;
        margin-bottom: 10rem;
    }
    /*-----------------------------*/
    .box {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
        grid-template-rows: 1.5fr;
        grid-gap: 70px;

    }


    /*-----------------------------*/
    .box1 {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
        grid-template-rows: 1.5fr;
        grid-gap: 70px;
        margin-bottom: 10%;



    }
/*
    .item2 {
        display: grid;
        grid-template-columns: 1fr;
    }
*/
    /*-----------------------------*/
    .box2 {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
        grid-template-rows: 1.5fr 1.5fr;

        grid-gap: 70px;
        margin-bottom: 10%;
        margin-left: 10%;
        margin-right: 10%
    }



    header img {

        height: 1em;
        width: 1em;
        margin-right: 0.3em;


    }


    .container2 {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1.5fr;
        grid-template-rows: 1.5fr 1.5fr 1.5fr;
        grid-gap: 20px;
    }
    
    main .idt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 80%;
    height: 900px;
}



.container {
    position: relative;
    text-align: center;
    color: white;
}

.letters {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 1000;
    font-size: 5rem;
}
    /*
nav ul.hide {
    display: block;
*/
    /**
main {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 200px 200p 200px;
    grid-gap: 150px;

 
}**/
    /*
.gridBox {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    grid-template-rows: 1.5fr 1.5fr 1.5fr;
    grid-gap: 20px;
}

.gridItem:hover {

    box-shadow: 10px 10px 10px #e8c26f;
}

}
*/
