/* main.css */

#mainmenu {
    list-style-type: none;
    padding: 0;
    margin: 0
}

footer {

    text-align: center;
    padding: 2em;
    background: floralwhite
}


/*
.link {
    padding: 10px 16px;
    cursor: pointer;
    font-size: 18px;
}
*/

.resizes {
    width: 100%;
    height: auto;
    max-width: 500px;
}

.active,
.link:hover {

    text-decoration: underline;
}

.serh {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.liimg {
    height: 1em;
    width: 1em;
    margin: 0;
    flex: auto;
}

ul {
    list-style-image: url('cleanLogo.png')
}

/*-------------------------------*/

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
}

a {
    text-decoration: none
}

.header,
.site-nav ul {
    display: flex;
    flex-direction: column
}

.header-wrapper {
    padding: 2em;
    background: floralwhite
}

.header {
    max-width: 1200px;
    margin: 0 auto;
}

header img {

    height: 2em;
    width: 2em;



}

.logo {
    margin-bottom: 1em;
    align-self: center;
    color: seagreen;
    font-size: 2em
}


.site-nav ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.site-nav a {
    display: block;
    padding: .7em;
    text-align: center;
    color: #3d3d3d;
    font-size: 1.2em;
    border-bottom: 1px solid #999;
    transition: background-color .3s, color .3s;
}

.site-content {
    min-height: 600px;
    background: burlywood
}

.gridBox {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    justify-content: center;
}

.gridItem {
    display: grid;
    grid-template-columns: 1fr;
}


h1 {
    text-align: center;
    font-size: 3rem;
    border-bottom: 3px solid black;
}

main {
    margin-left: 100px;
    margin-right: 100px;

}

#accordion3 {
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

/*-------------------------------*/

/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: floralwhite;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: aqua;
}

/* Add a background color and some padding around the form */

#con {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;


}

#if {

    width: 100%;
    height: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}

/*-------------------------------------*/

picture {
    height: 50%;
    width: 50%;
}

/*-------------------------------------*/

.item2 {
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    padding: 50px;
    text-align: center;
}

/*-------------------------------------*/

form {

    height: auto;
    display: inline-block;
    text-align: center;

}

/*-------------------------------------*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;


}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;

}

tr:nth-child(even) {
    background-color: #dddddd;
}

.box2 {
    grid-gap: 70px;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%
}

.box1 {

    margin-bottom: 10%;

}

.box {
    margin-bottom: 50px;
}

.icon1 {
    width: 1rem;
    height: 30%
}

#jaden {
    vertical-align: text-top;
}

main.idt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 5%;
}
